*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: var(--light-grey, #EDF7FF);
    font-family: 'Inter', sans-serif;
    padding: 2.5rem 4.5rem;
    margin: 120px auto 0;
    max-width: 1680px;
}


.highlight {
    color: var(--main-blue, #00A2F6);
}

h1 {
    color: #2C3E50;
    font-size: clamp(40px, 4vw, 80px);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -1.6px;
}

h2 {
    color: var(--dark-grey, #2C3E50);
    font-size: clamp(28px, 3vw, 64px);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.96px;
}

h3 {
    color: #2C3E50;
    font-size: clamp(28px, 1.5vw, 48px);
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.96px;
}

h4 {
    color: #2C3E50;
    font-size: clamp(24px, 1.5vw, 32px);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.48px;
}

h5 {
    color: #2C3E50;
    font-size: clamp(18px, 2vw, 24px);
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

h6 {
    color: #2C3E50;
    font-size: clamp(16px, 1vw, 24px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

p, ul, ol, button, input, select, textarea {
    color: #2C3E50;
    font-size: clamp(16px, 1vw, 18px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    font-family: 'Inter', sans-serif;
}

input:focus-visible, select:focus-visible, textarea:focus-visible {
    outline: none !important;
}

.form_checkbox{
    font-size: clamp(15px, 1vw, 18px);
    font-style: normal;
}

.case-block li p{
    margin: 0;
}

.p24{
    font-size: clamp(16px, 0.5vw, 24px) !important;
    line-height: 150%; /* 36px */
    letter-spacing: -0.48px;
    font-style: normal;
    font-weight: 400;

}

input, select, textarea {
    padding: 24px;
    border-radius: 24px !important;
    border: none;
}

input[type="checkbox"] {
    width: 32px !important;
    height: 32px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    padding: 0 !important;
    border-radius: 10px !important;
    border: 1px solid var(--main-blue, #00A2F6);
    background: var(--light-grey, #EDF7FF);
}

input[type="checkbox"]:checked::before {
    content: url("/icon/checked.svg");
    color: #fff;
    font-size: xx-large;
    display: flex;
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.container {
    /*padding: 2rem;*/
}

a{
    color: var(--violet, #6700D1);
    font-size: clamp(15px, 1vw, 18px);
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 27px */
    text-decoration: none;
}

a:hover{
    color: #00A2F6 !important;
}


button{
    background: #5c1ce0;
    color: #fff;
    font-weight: 600;
    padding: 16px 32px;
    border-radius: 45px;
    border: none;
    cursor: pointer;
    transition: background 0.2s ease;
}

button:hover {
    background: #4712b8;
}

.white {
    margin: 2rem 0;
    border-radius: 24px;
    background: var(--white, #FFF);
}

.headline {
    margin-top: clamp(60px, 8vw, 200px);
    margin-bottom: 64px;
    /*padding: 0 2rem;*/
    font-size: clamp(32px, 3.5vw, 64px);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.96px;
    color: var(--dark-grey, #2C3E50);
}

.pagination {
    font-size: clamp(16px, 1vw, 24px);
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 600;
}

.pagination button, .pagination span {
    width: 65px;
    background: none;
    border: none;
    cursor: pointer;
}

/*Form*/

.upload-links p{
    cursor: pointer;
    user-select: none;
}


.form{
    margin-top: 180px;

}


.form__container {
    margin: 0 auto;
    background: #fff;
    border-radius: 24px;
    padding: 40px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    height: auto;
    align-items: stretch;
}

.form__info {
    flex: 1 1 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form__info-bottom {
    width: 50%;
}

.tabs {
    display: flex;
    gap: 12px;
    margin-bottom: 24px;
}

.tabs button {
    background: #f1f7fc;
    color: #2c3e50;
    border: none;
    padding: 10px 20px;
    border-radius: 24px;
    cursor: pointer;
    font-weight: 600;
}

.tabs button.active {
    background: #3399ff;
    color: white;
}

.form__box {
    flex: 1 1 440px;
    background: #3399ff;
    border-radius: 24px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form__box input,
.form__box select {
    border: none;
    width: 100%;
}

.form__row {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(2, 1fr);
}

.form__row input,
.form__row select {
    flex: 1;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    color: white;
}

.form__box button[type='submit'] {
    background: white;
    color: #2c3e50;
    font-weight: 600;
    border: none;
    border-radius: 45px;
    padding: 24px;
    cursor: pointer;
}

.form__box button[type='submit']:hover{
    background: var(--light-grey, #EDF7FF);
}


/* ≥ 480px — Мелкие устройства (например, большие телефоны) */
@media (max-width: 480px) {
    body {
        padding: 2.5rem 1rem;
        width: 100%;
        box-sizing: border-box;
        margin: 40px auto 0;
    }

    .headline{
        margin: 80px 0 16px 0;
    }

    .tabs{
        flex-flow: wrap;
    }

    .form__row{
        grid-template-columns: repeat(1, 1fr);
    }

    .form__box{
        padding: 16px;
    }

    input[type="checkbox"]{
        padding: 16px !important;
    }
}

@media (max-width: 480px){
    .form__container {
        padding: 16px;
    }

}

@media (max-width: 768px) {
    .form__container {
        flex-direction: column;
        padding: 24px;
    }

    .form__box,
    .form__info {
        flex: 1 1 100%;
    }
}